@import "../../../../assets/variables";

.global-headline {
	text-align: center;
	margin-top: 3.9rem;
}

.restaurant-info {
	text-align: center;

	.restaurant-description {
		padding-bottom: 3rem;

		.global-headline {
			margin-top: 6.9rem;

			.asterisk {
				color: $body-font-color;
				margin: 2.4rem 0;
			}
		}
	}
	.restaurant-info-img {
		height: 100%;
		display: inline-flex;
		align-items: center;
	}
}

@media screen and (min-width: 900px){
	.restaurant-info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 7rem;
		& > div {
			align-self: center;
		}

	}
}