@import './../../assets/variables';

.logo-rokka {
	font-size: 2.6rem;
	font-family: $main-font;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: .5rem;
	line-height: 0.7;
	color: white;
	border-bottom: 2px solid white;
	padding-bottom: 2px;
}

header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
	.nav {
		height: 7.2rem;
		display: flex;
		align-items: center;
		.nav-item {
			border-bottom: 2px solid rgba(255, 255, 255, .3);

			.nav-link {
				display: block;
				color: #ffffff;
				text-transform: uppercase;
				font-size: 1.6rem;
				letter-spacing: 2px;
				margin-right: -2px;
				transition: color .5s;

				&:hover {
					color: $secondary-font-color;
				}
			}
		}
	}


	.breakpoint__small-down {
		.nav {
			justify-content: center;

			.sidebar {
				.menu-toggle {
					position: absolute;
					top: 50%;
					right: 3vw;
					transform: translateY(-50%);
					z-index: 1500;
					/*.hamburger-react:active {
						-webkit-tap-highlight-color: rgba(0,0,0,0);
					}*/
				}

				.sidebar-menu {
					&.menu-enter {
						.btn_mask {
							opacity: 0;
						}

						.nav-list {
							transform: translateX(-100%);
						}
					}

					&.menu-enter-active {
						.btn_mask {
							opacity: 1;
							transition: opacity 700ms;
						}

						.nav-list {
							transform: translateX(0);
							transition: transform .5s;
						}
					}

					&.menu-exit {
						.btn_mask {
							opacity: 1;
						}

						.nav-list {
							transform: translateX(0);
						}
					}

					&.menu-exit-active {
						.btn_mask {
							opacity: 0;
							transition: opacity 700ms;
						}

						.nav-list {
							transform: translateX(-100%);
							transition: transform .5s;
						}
					}
				}

				.nav-list {
					list-style: none;
					position: fixed;
					top: 0;
					left: 0;
					width: 80%;
					height: 100vh;
					background-color: $main-font-color-dark;
					padding: 4.4rem;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					z-index: 1250;
					//transform: translateX(-100%);
					transition: transform .5s;


				}
			}
		}
	}

	.breakpoint__medium-up {
		.nav {
			display: flex;
			justify-content: space-between;

			.nav-list {
				display: flex;
				.nav-item {
					margin: 0 2.3rem;
					border: none;
					list-style: none;
					&:last-child {
						margin-right: 0;
					}
					.nav-link.active {
						border-bottom: 2px solid #ffffff;
					}
				}
			}
		}
	}
}