.tasteful-recipes {
	background: url("../../assets/images/tasteful-recipes.jpg") center no-repeat;
	background-size: cover;
}
.between {
	min-height: 68vh;
	display: flex;
	align-items: center;
}

.perfect-blend {
	background: url("../../assets/images/perfect-blend.jpg") center no-repeat;
	background-size: cover;
}